# ======================
# Python environments
# ======================

venv/
.env/
.envrc

# ======================
# Python cache
# ======================

__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Jupyter Notebook autosaves
# ======================

.ipynb_checkpoints/

# ======================
# Environment variables
# ======================

.env

# ======================
# Raw datasets
# ======================

Data/Raw/

# ======================
# Processed datasets
# ======================

data/processed/

# ======================
# Model artifacts
# ======================

models/
outputs/
artifacts/
checkpoints/

# ======================
# Logs & temp files
# ======================

*.log
*.tmp

# ======================
# OS junk files
# ======================

.DS_Store
Thumbs.db